
.services .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.serviceCards {
    margin: auto;
}

.card-btn button {
    margin: auto;
}

.whatWeDo {
    text-align: center; 
    padding: 20px;  
}


.services h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {
   
    .whatWeDo h1 {
        font-size: 1.5rem;
    }

    .whatWeDo p {
        font-size: 14px;
    }

    .services h1 {
        font-size: 1.5rem;
    }

    .services p {
        font-size: 14px;
    }

}




