@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Viga&display=swap');

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, .4);
}


.hero:before {
    content: '';
    position: absolute;
    background: url('../../assets/hero-bg.jpg')no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
}


.hero .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.hero .content {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.hero h1 {
    color: #244100;
    font-size: 5rem;
    font-family: 'Viga', sans-serif;
}

.hero h2 {
    color: #f8f8f8;
    font-size: 2rem;
    margin-top: -1rem;
}

.hero p {
    color: #f8f8f8;
}


@media screen and (max-width:940px) {
   .hero .content {
    margin-left: 1rem;
   } 

   .hero h1 {
    color: FFC300;
    font-size: 2rem;
}

.hero h2 {
    color: #f8f8f8;
    font-size: 1rem;
    margin-top: -.5rem;
}

.hero p {
    font-size: 13px;
    text-align: center;
}

}





