@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.job-section {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0);
    position: relative;
  }
  
  .job-section:before {
    content: '';
    position: absolute;
    background: url('../../assets/section-bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.04;
  }

.job-section {
    padding: 3rem 0;
}


.job-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.job-left {
    width: 40%;
    margin: auto;
}

.job-right {
    width: 500px;
    margin: auto;
}

.job-right img {
    width: 100%;
}

.job-section p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: rgb(0, 0, 0);
    margin: 1rem;
    font-size: 14px;
    line-height: 20px;
}

.job-section h1 {
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}



@media screen and (max-width: 940px) {

    .job-flex {
        flex-wrap: wrap;
    }
    
    .job-left {
        width: 100%;
    }
    
    .job-right {
        width: 70%;
    }
    
}




@media screen and (max-width: 600px) {

    .job-right {
        width: 90%;
    }
    
}



