@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.home {
    width: 100%;
    height: 75vh;
    position: relative;
    top: 0;
    object-fit: cover;
}

.video-bg {
    width: 100%;
    height: 75vh;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.home .container {
    top: 20%;
    padding: 2rem;
}


.hero-logo {
    text-align: center;
}

.home span {
    color: white;
}

.home p {
    color: white;
    font-style: italic;
    text-align: center;
}


.subtitle {
    color: var(--primary-dark);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.home .home-btn button {
    margin: auto;
    cursor: pointer;
}


.home .home-btn button:hover {
    background-color: #fff;
    color: var(--primary-color);
    border: #fff;
}

/* MEDIA QUERIES */

@media screen and (max-width:940px) {



    .home p {
        font-size: 13px;
    }

}