@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.home {
    width: 100%;
    height: 85vh;
    position: relative;
    top: 0;
    object-fit: cover;
    z-index: -2;
}

.video-bg {
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.home .container {
    top: 20%;
    padding: 2rem;
}

.home-header h1{
    color: #ffffff;
    font-size: 5rem;
    text-align: center;
    font-family: 'Vollkorn', serif;
    line-height: 3.5rem;
}

.hero-logo {
    text-align: center;
}

.hero-logo img {
    width: 7%;
}

.home span {
    color: white;
}

.home p {
    color: white;
    font-style: italic;
    text-align: center;
}


.subtitle {
    color: var(--primary-dark);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.home .home-btn button {
    margin: auto;
    cursor: pointer;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {

    .home-header h1{
        font-size: 4rem;
        line-height: 3rem;
    }

    .subtitle {
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    .home p {
        font-size: 13px;
    }

    .hero-logo img {
        width: 15%;
    }

}