/* .InsuranceSection::before {
    width: 100%;
    height: 55vh;
    position: relative;
    background: url('../../assets/insurance-section-bg.jpg')no-repeat center center/cover;
    background-attachment: fixed;
} */

.InsuranceSection {
    width: 100%;
    height: 80vh;
    position: relative;
    background: rgba(111, 145, 126, 0.281);
    padding-top: 3rem;

}

.InsuranceSection .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    left: 0;
    /* top: 30%; */
    width: 100%;
}

.InsuranceSection .content p {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}

.InsuranceSection h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 0rem;
}

.insurance-thumbnail img {
    margin: 5px;
    width: 200px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
}

.InsuranceSection .flex-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.insurance-btn button {
    margin: auto;
    margin-top: -6rem;
}

@media screen and (max-width: 940px) {
    .InsuranceSection .content {
        left: 0;
        width: 100%;
        padding: 1rem;
        /* background: rgba(255, 255, 255, .7); */
        margin-top: -3rem;
    }

    .InsuranceSection {
        height: 70vh;
    }

    .testimInsuranceSectiononials h2 {
        font-size: 25px;
    }

    .InsuranceSection p {
        font-size: 15px;
    }

    .InsuranceSection h2 {
        font-size: 22px;
    }
}










