
  
  .whatWeCanProvide {
    content: '';
    /* background: url('../../assets/wcwp-bg.jpg') no-repeat center top/cover; */
    height: 100%;
    width: 100%;
    z-index: -1;
    margin: 3rem 0;
    padding: 0 0 3rem 0;
  }


.wwcp-thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wwcp-thumbnails {
    width: 300px;
    margin: 1rem;
}

.wwcp-thumbnails h1 {
    color: rgb(70, 67, 67);
    text-align: center;
    font-size: 1rem;
    padding: 5px;
    text-transform: uppercase;
}

.wwcp-thumbnails p {
    color: rgb(58, 56, 56);
    text-align: center;
    font-size: 13px;
}

.wwcp-thumbnails img {
    width: 100%;
    border-radius: 1rem;
}



.wwcp-cards-header {
    display: flex;
    flex-wrap: wrap;
      width: auto;
     justify-content: center;
      margin: 2rem auto;
      padding: 1rem;
      gap: 2rem;
  }
  
  .wwcp-cards-header span {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .wwcp-cards-header-left {
    width: 400px;
    text-align: center;
  }
  
  .wwcp-cards-header-right {
    width: 600px;
  }
  
  .wwcp-cards-header h1 {
    font-size: 1.5rem;
    text-align: center;
      margin: 1rem auto;
      font-family: 'Montserrat', sans-serif;
  }
  
  .wwcp-cards-header p {
    font-family: 'Montserrat', sans-serif;
  }




  @media screen and (max-width: 940px) {
  
    .wwcp-header {
        padding: 3rem 1rem 0 1rem;
    }

    .wwcp-header h1 {
        color: white;
        font-size: 1.5rem;
    }

    .wwcp-header h3 {
        color: white;
        font-size: 1rem;
    }
    

  }


